<div class='container'>
    <div class='row'>
        <div class='col-lg-6'>
            <h3 class='text-center'>Results</h3>
            <card properties='home.results' saved-properties='home.saved'></card>
        </div>
        <div class='col-lg-6'>
            <h3 class='text-center'>Saved Properties</h3>
            <card properties='home.saved' saved-properties='home.saved' is-saved="true"></card>
        </div>
    </div>
</div>